# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]

# IDEs
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
.env.local
.env.example

# ML Datasets, Weights, and Caches
data/*
!data/.gitkeep
models/*
!models/.gitkeep

*.bin
*.pt
*.pth
*.safetensors
*.onnx

# Hugging Face local cache
.cache/
hf_cache/

# pip editable VCS clone (created by `pip install -e git+...` in requirement.txt)
/src/